nav {
    background-color: $grey;
    box-shadow: 0px 1px 3px #D9D9D9;
}

nav section {
    max-width: 1080px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0 12px 0;
    div img {
        width: 24px;
    }
}

.basket {
    padding-left: 27px;
}